<!--COMIENZA EL FOOTER-->

<footer class="footer-container">
  <a class="footer__buttom" href="./index.html#hero">
    <img
      class="footer__buttom--image"
      src="./assets/images/ico-arrow.svg"
      alt=""
      tittle="Ir al inicio de la página"
    />
  </a>
  <ul class="footer__more-info">
    <li>
      <a class="footer__links" href="https://adalab.es/" target="_blank"
        >Articles</a
      >
    </li>
    <li>
      <a class="footer__links" href="https://adalab.es/" target="_blank"
        >Books
      </a>
    </li>
    <li>
      <a
        class="footer__links"
        class="footer__links"
        href="https://adalab.es/"
        target="_blank"
      >
        Events</a
      >
    </li>
    <li>
      <a class="footer__links" href="https://adalab.es/" target="_blank">
        Reasons</a
      >
    </li>
    <li>
      <a class="footer__links" href="https://adalab.es/" target="_blank"
        >Tips</a
      >
    </li>
  </ul>
  <ul class="footer__socials-media">
    <li>
      <a class="footer__links" href="https://adalab.es/" target="_blank"
        >Twitter</a
      >
    </li>
    <li>
      <a class="footer__links" href="https://adalab.es/" target="_blank"
        >Instagram</a
      >
    </li>
    <li>
      <a class="footer__links" href="https://adalab.es/" target="_blank"
        >Mastodon.social</a
      >
    </li>
  </ul>
  <ul class="footer__final-list">
    <li><small class="footer__copy">&copy; 2021</small></li>
    <li>
      <p class="footer__icon">we <i class="fas fa-heart"></i> components</p>
    </li>
  </ul>
</footer>

<!--FIN DEL FOOTER-->
