<section id="reasons" class="main__reasons">
  <h2 class="main__reasons--tittle">3 reasons to purchase</h2>
  <article class="main__reasons--article">
    <h4>Ut sed metus</h4>
    <p>Lorem ipsum dolor sit amet, consecteur.</p>
  </article>
  <article class="main__reasons--article">
    <h4>Curabitur ac erat</h4>
    <p>Mauris mattis urna quis lorem molestie.</p>
  </article>
  <article class="main__reasons--article">
    <h4>Morbi dictum</h4>
    <p>Aliquam in dolor et dolor tincidunt.</p>
  </article>
  <a class="main__reasons--buttom">More reasons</a>
</section>
