.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: #0271bc;

  .header__menu--image {
    width: 16px;
    height: 14px;
  }
}
/*no consigo dejar fijo el header__menu/tampoco que me aparezca el ico*/
