.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  z-index: 1;
  .header__menu--image {
    width: 16px;
    height: 14px;
  }
}
