.main__looking {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: left;
  .main__looking--subtittle {
    margin-left: 15px;
    margin-top: 30px;
    height: 30px;
    font-size: 14px;
    font-family: $font-second;
    font-weight: 400;
    line-height: 30px;
    color: #8ccbea;
    text-transform: capitalize;
  }
  .main__looking--tittle {
    margin-left: 15px;
    margin-top: 1px;
    height: 60px;
    font-size: 24px;
    font-family: $font-main;
    font-weight: 700;
    line-height: 30px;
    color: $color-main;
    text-transform: capitalize;
  }
  .main__looking--paragraph {
    margin-left: 15px;
    margin-top: 15px;
    height: 120px;
    font-family: $font-second;
    font-weight: 400;
    line-height: 30px;
    color: #4a4a4a;
  }
  .main__looking--buttom {
    margin-left: 15px;
    margin-top: 30px;
    width: 76px;
    height: 45px;
    color: #f26002;
    border: solid 2px #f26002;
    border-radius: 22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: backgroung-color 1s;
    &:hover {
      background-color: #b0ccf8;
    }
  }
}
